    <footer id="contacts">
        <div class="footer_inf">
            <div class="information">
                <h1 class="mini_subtitle">Информация для связи</h1>
                <p>Телефон: +7 777 777 77 77</p>
                <p>Email: maschkovapolina@yandex.ru</p>
                <div class="icon_contact">
                    <a href="https://t.me/rupollya" target="_blank"><img src="assets/telegram.svg" alt="Telegram"></a>
                    <a href="https://vk.com/rupolll_ya" target="_blank"><img src="assets/vk.svg" alt="vk"></a>
                    <a href="https://www.tiktok.com/@whoisrupollya" target="_blank"><img src="assets/tiktok.svg" alt="tt"></a>
                </div>
            </div>

            <div class="form">
                <div class="input_group">
                    <label>EMAIL</label>
                    <input type="email" placeholder="Напиши мне свой email...">
                </div>

                <div class="input_group">
                    <label>СООБЩЕНИЕ</label>
                    <textarea placeholder="Введи текст..."></textarea>
                </div>

                <button class="send_btn">Отправить</button>
            </div>
        </div>
        <p class="inc">© 2026 Brand, Inc</p>
    </footer>