.information_blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro_text p {
    font-size: 17px;
    color: var(--text-muted);
}

.intro_image img {
    border-radius: 30px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.05);
}

.projects {
    padding-bottom: 50px;
}

.projects_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    background: var(--bg-card);
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: var(--transition);
    border: 1px solid rgba(0,0,0,0.03);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.08);
}

.main_card {
    grid-column: 1 / 4;
    flex-direction: row;  
    margin-bottom: 20px;
}

.main_card .card_image {
    width: 65%;
    height: 480px;
}

.main_card .card_content {
    width: 35%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.small_card .card_image {
    aspect-ratio: 16 / 10;
}

.small_card .card_content {
    padding: 25px;
}

.card_image {
    position: relative;
    overflow: hidden;
    background: #f0f0f0;
}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: var(--transition);
}

.card:hover .card_image img {
    transform: scale(1.05);
}

.hover_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 55, 71, 0.6);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.hover_overlay span {
    color: #fff;
    border: 1px solid rgba(255,255,255,0.4);
    padding: 12px 24px;
    font-weight: 600;
    text-transform: uppercase;
    background: rgba(255,255,255,0.1);
}

.card:hover .hover_overlay {
    opacity: 1;
    
}
.card:hover .delete-btn{
    opacity: 1;
}

.date {
    font-size: 12px;
    color: var(--text-muted);
    text-transform: uppercase;
}
.post_editor {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    border: 1px solid #eee;

    transition: transform 1.5s cubic-bezier(0.4, 0, 0.2, 1), 
                opacity 1.0s ease,
                margin 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    
    transform: scaleY(1);     
    transform-origin: top;      
    opacity: 1;
}

.post_editor.hidden {
    transform: scaleY(0);      
    opacity: 0;
    margin-bottom: -500px;     
    pointer-events: none;
}   

.title_input {
    width: 100%;
    border: none;
    font-size: 20px;
    font-weight: 800;
    outline: none;
    padding: 10px 0;
    color: var(--primary-color);
    border-bottom: 2px solid transparent;
    transition: var(--transition);
}

.title_input:focus {
    border-bottom-color: #eee;
}

.content_input {
    width: 100%;
    min-height: 300px;
    border: none;
    outline: none;
    resize: none;
    font-size: 20px;
    line-height: 1.6;
    color: #444;
    padding: 20px 0;
    font-family: inherit;
}

.editor_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #f5f5f5;
}
.add_post_btn {
    background-color: transparent;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px; /* Полностью круглые края */
    cursor: pointer;
    transition: all 0.4s ease;
}

.add_post_btn:hover {
    background-color: var(--accent-color);
    color: #fff;
    box-shadow: 0 10px 20px -10px var(--accent-color);
}

 
.create_post.editor-wrapper-grid {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
}

.editor-wrapper-grid .admin_panel {
    justify-self: end; 
}

.panel_content {
    margin-top: 50px;
    position: sticky;
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 50px;
    align-items: center;
    border-radius: 20px 0 0 20px; 
    padding: 15px 0 15px 15px;
    border: 1px solid var(--border-color);
    border-right: none; 
    box-shadow: -5px 5px 20px rgba(0,0,0,0.05);    
}

.post_editor {
    grid-column: 2;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.admin_panel {
    grid-column: 3;
}

.side_btn {
    width: 50px;    
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: none;
    background: transparent;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.side_btn:hover {
    background: #f0f4f8; 
    transform: scale(1.1);
}

.side_btn img {
    display: block;
    width: 32px;
    height: auto;
} 


.editor_badge {
    /* стили для текста */
    font-size: 12px;
    color: var(--text-muted);
    text-transform: uppercase;
    font-weight: 600;
}

.delete-btn {
    /* снизу справа */
    opacity: 0;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: transparent;
    border: none;   
    font-size: 40px;
    color: rgba(255, 0, 0, 0.7);
    cursor: pointer;
    /* transition: color 0.3s ease; */
    transition: all 0.7s ease;
}

.delete-btn:hover {
    font-size: 50px;
    color: rgba(255, 0, 0, 1);
}

.article_blog {
    position: relative;
}
